# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CMake Overview
/.vs/CMakeWorkspaceSettings.json
/.vs/ModOptGroup----universal-optimizer-sci-cpp/FileContentIndex/420d24dd-64f4-4004-8bd8-a1559c59c27c.vsidx
/.vs/ModOptGroup----universal-optimizer-sci-cpp/FileContentIndex/61df1e1d-fd11-40ec-88fd-350fb017a11f.vsidx
/.vs/ModOptGroup----universal-optimizer-sci-cpp/FileContentIndex/a36ac0bd-99be-4fcc-bdcb-0636c3a9e766.vsidx
/.vs/ModOptGroup----universal-optimizer-sci-cpp/FileContentIndex/b9f046d9-f7a2-4399-9e51-c0062a0011a7.vsidx
/.vs/ModOptGroup----universal-optimizer-sci-cpp/FileContentIndex/d4a33c87-c9fa-473c-a44e-b2772c00c1a1.vsidx
/.vs/ModOptGroup----universal-optimizer-sci-cpp/config/applicationhost.config
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/.wsuo
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Browse.VC.db
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/DocumentLayout.json
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/Browse.VC.db
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/Solution.VC.db
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/103045d4d61f8624/MULTIPLYCLASS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/14916935eca6e995/STRINGREPRESENTATION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/1c2b77e509ee9b28/ADDCLASS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/32faae1d269ac2f0/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/35ffe7711fd1e462/CHECKER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/385e582cf73ce3ae/STRINGREPRESENTATION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/4436465fa4eb1b5f/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/5e69c281db69faea/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/6c96706203aa6f9a/TARGETPROBLEMVOIDMINSO.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/7792d8f07770494b/TARGETPROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/8b8a9a32cb98b128/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/96ed2e8dd8c6fab8/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/9b95b6edeea18095/PROBLEMVOIDMINSO.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/a0281608e50c4209/MULTIPLYCLASS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/a9a6eea0543cfa47/ADDCLASS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/b68cdbf323d3e24e/QUALITYOFSOLUTION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/c161c1e88fdca5c3/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/c25cf514931fed15/QUALITYOFSOLUTION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/ccae2fd0a82e8355/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/ce25342c40916251/MULTIPLYTEST.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/df350bb5d8cd0157/MULTIPLYTEST.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/e23600d7a8969c2b/ADDCLASS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/e6562663269a5f61/CHECKER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Preview/ipch/AutoPCH/e91e9e889bbeb74c/TARGETPROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/Solution.VC.db
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/TestStore/0/002.testlog
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/TestStore/0/testlog.manifest
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/1d550c0074e003de/DISTANCE.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/1efc67549832ccf5/EXE_COMMON.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/2631109547eef93c/LOGGER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/2808e98c853caebc/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/360eee8549fcaaf9/BOOSTTESTER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/3c265b05ceb482d3/RUNNER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/3eca7d83b175cbcd/STRINGREPRESENTATION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/4deab26a3465940e/BOOSTTESTER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/53661595889aa82c/ONESCOUNTMAXPROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/5afec8646a918e52/DISTANCECALCULATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/5ba3090fb30d95fd/SOLVER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/600f1b752394d563/COMMANDOPTIONS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/649630e74251e505/OPERATIONS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/65f36aa15508485a/TEST_ONE.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/7093a492556d6aae/SOLUTIONVOIDSTRINGINT.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/75b539289b2c36f7/EVALUATION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/85bece997b706bda/DISTANCECALCULATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/884c3207e8e37a89/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/8a16deed43591725/PROBLEMVOIDMINSO.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/8b8a9a32cb98b128/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/8d57c1028e923ae/SOLUTION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/94a6ea2dbc20a2ae/PROBLEMVOIDMINSO.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/9b95b6edeea18095/PROBLEMVOIDMINSO.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/9bebbcda5b00819/COMMANDOPTIONS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/9c97071986e48861/DISTANCECALCULATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/a19f1937bcd87f96/EVALUATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/a79550aa0ef300ac/MAIN.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/aae332cd70147be0/COMMANDOPTIONS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/b8830c48b5f668a6/SOLVER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/b932d1a24400d7aa/TEST_ONE.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/bf925ab2e997fa5d/BOOSTTESTER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/c25cf514931fed15/QUALITYOFSOLUTION.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/c58c3a1ff4a526e2/CMDOPTIONS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/c7e6ce199f6d24d8/DISTANCECALCULATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/ccae2fd0a82e8355/PROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/d4def4f9cce2fde6/CHECKER.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/d6fb245e390c7b6/SOLUTIONVOIDSTRINGINT.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/da5e735aa8e835f9/ONESCOUNTMAXPROBLEM.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/de417637df307643/EVALUATIONCACHECONTROLSTATISTICS.ipch
/.vs/ModOptGroup----universal-optimizer-sci-cpp/v17/ipch/AutoPCH/ea8c8123dac3e900/COMMANDOPTIONS.ipch
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/cmake.db
/.vs/launch.vs.json
/.vs/slnx.sqlite
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json
